.mainContainer {
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

/*.mainContainer a {*/
/*    text-decoration: none;*/
/*    color: white;*/
    /*font-weight: bold;*/
    /*transition: transform 0.3s ease, color 0.3s ease;*/
/*}*/
/*.mainContainer a:hover{*/
/*    transform: scale(1.5);*/
/*    color: lightblue;*/
/*}*/